.home-page-wrapper{
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.home-page-wrapper > div {
    /*border: 2px solid rgb(233,171,88);*/
    /*border-radius: 5px;*/
    /*background-color: rgba(233,171,88,.5);*/
    padding: 1em;
    /*color: #d9480f;*/
}

.home-page-header{
    grid-row: 1;
    display: grid;
    /*grid-template-columns: repeat(3, 1fr);*/
}

.home-page-content {
    min-height: 300px;
}

.home-page-wrapper > .home-page-footer {
    grid-row: 5;
    background-color: #00b0ca;
}

.home-page-header > div {
    padding: 1em;
}

.header-top-menu{
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    grid-column: 2/3;
}

.header-button-panel{
    justify-self: center;
    grid-column: 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.company-logo{
    justify-self: stretch;
    grid-column: 1;
}

.company-logo > img {
    max-height: 150px;
    max-width: 100px;
}

.header-top-menu > div {
    font-size: x-large;
    font-weight: bold;
}

.signin-page-wrapper {
    display: grid;
}

.side-bar-image{
    margin: 0 auto !important;
}

.ui.visible.left.sidebar~.fixed, .ui.visible.left.sidebar~.pusher{
    -webkit-transform: translate3d(250px,0,0);
    transform: translate3d(250px,0,0) !important;
}

.ui.sidebar{
    width:250px !important;
}

.ui.inverted.blue.menu, .ui.inverted.menu .blue.active.item{
    background-color: #00b0ca;
}

.side-bar-menu-item {
    text-align: left !important;
    font-size: large !important;
    font-weight: bold !important;
    color: white !important;
}

.main-content-body {
    min-height: 600px;
}

.main-content-header {
    background: #9d9c92 !important;
    color: black;
}